<html>
	<head>
		<title>	Garage Door Opener</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/temperature.js"></script>
		<script src="static/temperatureToColorMapper.js"></script>
	</head>
	<body>
		<div class="container" style="padding: 100px">
			<button id="open" type="button" class="btn btn-primary btn-block"></button>
		</div>
	</body>
	<script>
		var updateButton = function() {
				$.getJSON("temperatureData", (data)=>{
					let temp = new Temperature(data.temperature).Farenheit.toFixed(2)
					$("#open").text(temp)
					
					let rgb = new TemperatureToColorMapper().getColor(temp)
					let rgbCss = `rgba(${Math.round(rgb.r)}, ${Math.round(rgb.g)}, ${Math.round(rgb.b)}, 0.7)`
					$("#open").css({"background-color": rgbCss}).css({"height": "100%"}).css({"font-size": "5em"})
				})
		}
	
		$(document).ready(function(){
			$("#open").click(function(){
				console.log('clicked');
				$("#open").prop("disabled", true);

				$.post("pressGarageDoorButton").always(function(){
					$("#open").prop("disabled", false);
				});	
			});
		
			updateButton()
			setInterval(updateButton, 5000)
		});
	</script>
</html>
