<html>
	<head>
		<title>	Garage Door Opener</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/temperature.js"></script>
		<script src="static/temperatureToColorMapper.js"></script>
	</head>
	<body>
		<div class="container" style="padding: 20px">
			<button id="open" type="button" class="btn btn-primary btn-block"></button>
		</div>
	</body>
	<script>
		var updateButton = function() {
				$.getJSON("temperatureData", (data)=>{
					let temp = new Temperature(data.temperature).Farenheit.toFixed(2)
					$("#open").text(temp)
					
					let rgb = new TemperatureToColorMapper().getColor(temp)
					let rgbCss = `rgba(${Math.round(rgb.r)}, ${Math.round(rgb.g)}, ${Math.round(rgb.b)}, 0.7)`
					$("#open").css({"background-color": rgbCss}).css({"height": "100%"}).css({"font-size": "5em"})
				})
		}
		
		var updateBackground = function() {
				$.getJSON("http://api.openweathermap.org/data/2.5/weather?lat=43.792687&lon=-70.430532&appid=1963a6b41a6c18337d5160732408f58a", (data)=>{
					let temp = Temperature.fromKelvin(data.main.temp).Farenheit.toFixed(2)
					let rgb = new TemperatureToColorMapper().getColor(temp)
					let rgbCss = `rgba(${Math.round(rgb.r)}, ${Math.round(rgb.g)}, ${Math.round(rgb.b)}, 0.7)`
				
					$("body").css({"background-color": rgbCss})				
				})
		}

		var updateSystem = function() {
				updateBackground()
				updateButton()
		}
			
		$(document).ready(function(){
			$("#open").click(function(){
				console.log('clicked');
				$("#open").prop("disabled", true);

				$.post("pressGarageDoorButton").always(function(){
					$("#open").prop("disabled", false);
				});	
			});
		
			updateSystem()
			setInterval(updateSystem, 5000)
		});
	</script>
</html>
